.navbar-nav{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.textnav-link{
    margin-left: 30px;
    margin-right: 30px;
    color: black;
}
 .bg-light{
     color: white;
     border-color: black;
 }